<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
</head>
<body>
    <nav><a href="/">Главная</a> | <a href="/contact">Контакты</a></nav>
      
    {{{body}}}
      
    <footer><p>MyCorp - Copyright © 2017</p></footer></body>
<html>