<h1>Все курсы Академии</h1>
<form action="http://localhost:3000/courses/add" method="post">
    <fieldset class="form group">
        <label for="name">Name</label>
        <input id="name" name="name" type="text" placeholder="Введите имя курса" class="form-control">
        <small class="text-muted">Добавить свой новый курсы.</small>
    </fieldset>
    <button type="submit" class="btn btn-primary"> Создать курсы</button>
    <a href="/courses" class="btn btn-default">Отмена</a>
</form>